/*
  Underline is composed of bottom border and inset box-shadow.
*/
/*
Site CSS Selector Key:

.usertext-body > .md > p > a -> Reddit.com

*/

.usertext-body > .md > p > a
{
  color: black !important;
  text-decoration: none;
  border-bottom: .0625em solid #b9f2ab;
  box-shadow: 0 -.4em 0 #b9f2ab inset;
}

.usertext-body > .md > p > a:hover {
  border-color: #aedbf9;
  box-shadow: 0 -.75em 0 #aedbf9 inset;
}
